pkgbase = python-twisted
	pkgdesc = Asynchronous networking framework written in Python
	pkgver = 22.10.0
	pkgrel = 3
	url = https://twistedmatrix.com/
	arch = any
	license = MIT
	checkdepends = python-pyhamcrest
	checkdepends = subversion
	checkdepends = xorg-server-xvfb
	checkdepends = tk
	checkdepends = openssh
	checkdepends = git
	checkdepends = gtk3
	checkdepends = python-gobject
	checkdepends = python-subunit
	checkdepends = python-h2
	checkdepends = python-priority
	checkdepends = python-cryptography
	checkdepends = python-idna
	checkdepends = python-pyasn1
	checkdepends = python-pyserial
	checkdepends = python-bcrypt
	checkdepends = python-hypothesis
	checkdepends = python-cython-test-exception-raiser
	checkdepends = python-pyopenssl
	checkdepends = python-service-identity
	makedepends = python-setuptools
	depends = python-zope-interface
	depends = python-constantly
	depends = python-incremental
	depends = python-automat
	depends = python-hyperlink
	depends = python-attrs
	depends = python-typing_extensions
	optdepends = python-pyopenssl: for TLS client hostname verification
	optdepends = python-service-identity: for TLS client hostname verification
	optdepends = python-idna: for TLS client hostname verification
	optdepends = python-cryptography: for using conch
	optdepends = python-pyasn1: for using conch
	optdepends = python-appdirs: for using conch
	optdepends = python-bcrypt: for using conch
	optdepends = python-h2: for http2 support
	optdepends = python-priority: for http2 support
	optdepends = python-pyserial: for serial support
	optdepends = tk: for using tkconch
	conflicts = python2-twisted<=20.3.0-3
	source = https://github.com/twisted/twisted/archive/twisted-22.10.0.tar.gz
	sha512sums = cf9ed96430376d499ae9627a7d0656c05cb99bc9e9b15a8f4166355363818f090bc3c2b383ed4cf19e1e38fb569e8618d35a0ddde2a90a06f3c9a4ea769837e4

pkgname = python-twisted
